* {
    font-family: 'Manrope', sans-serif;
    margin:0;
}

input:focus{
    outline: none;
}

html, body {
    background-color: #e5e7ed;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #19191a;    
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

nav {    
    flex: 0.3;
    padding-left: 20px;

    
}

.card-container button {
    padding: 8px;
    border: 0;
    color: #fff;
    background: rgb(118,78,255);
    background: linear-gradient(300deg, rgba(118,78,255,1) 0%, rgba(177,116,255,1) 100%);
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;  
}

.card-container button:hover {
    padding: 8px;
    border: 0;
    color: #fff;
    background: rgb(118,78,255);
    background: linear-gradient(300deg, rgba(118,78,255,1) 0%, rgba(177,116,255,1) 100%);
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    transition-duration: 500ms;
    opacity: 0.9;
}


h1 {
    font-weight: 700;
}



nav ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    padding: 0px;    
    
}

nav li a {
    color: black;
    padding: 10px;

    text-decoration: none;
}

.project-name {
    flex: 0.4;
    justify-content: center;
    padding: 20px 0px 20px 200px;
    color: #fff;
    font-weight: 900;

}

.connect-button {
    flex: 0.2;
    display: flex;
    justify-content: right;
    padding: 20px 200px 20px 0px;
}

.marketplace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 200px;

}

.marketplace img {
    height: 100px;
    width: auto;
}

.mktp-header {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}



.welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.welcome h3 {
    color: darkslategray;
}

.spacer {
    height: 20px;
}



/* .marketplace-header input{
    border-radius: 10px;
    padding: 10px; 
    border: 1px solid #eeeeee;
    width: 320px;
}

.marketplace-header button{
    border-radius: 10px;
    width: 100px;
}

.marketplace-header button:hover{
    border-radius: 10px;
    width: 100px;
} */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    width: 270px;
    height: 405px;

    background-color: #fff;
    margin: 15px 0px;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    /* border: 1px solid #eeeeee; */
}



.img-container {
    max-height:270px;
    width: 270px;

    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-details {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    align-items: left;

}

.card h3 {
    padding: 0px;
    margin-bottom: 5px;
}

.card p {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    color: grey;
}
.card h4 {
    font-weight: normal;
    padding: 8px 0px;
}


.card button {
    padding: 8px;
    border: 0;
    color: #fff;
    background: rgb(118,78,255);
    background: linear-gradient(300deg, rgba(118,78,255,1) 0%, rgba(177,116,255,1) 100%);
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;    
}

.card:hover button{
    transform: translateY(-46px);
    transition-duration: 0.3s;
}

.card:hover h4{
    visibility: hidden;
}


.empty {
    visibility: hidden ;
}
