* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    position: fixed;
    width: 100%;
}

nav {    
    flex: 0.7;
    
}

h1 {
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    padding: 0px;    
}

nav li a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.project-name {
    flex: 0.1;
    justify-content: center;
    padding: 20px;
}

.connect-button {
    flex: 0.2;
    display: flex;
    justify-content: right;
    padding: 20px;
}

p {
    font-size: 3rem;
    align-content: center;
    display: flex;
    justify-content: center;
}